
<button class="btn-item" onclick="openFile({name: '<%= file.name %>', size: '<%= file.size %>', uploadedAt: '<%= file.uploadedAt%>'})">
<article class='file'>
  <%= file.name %>
</article>
</button>

