<section class="folders">
  <% if(folders) { %>
  <% for(let i = 0; i < folders.length; i++) { %>
  <%- include("./folder", {name: folders[i].name, id: folders[i].id}) %>
  <%  } %>
  <%  } %>
</section>

