<header class="header">
  <h1><%= title %></h1>
  <% if(route === "home") { %>
  <button onclick="openFolderDialog()" class="btn-accent">Add Folder</button>
  <%} else if(route === "folder") {%> 
  <button  onclick="openFileDialog()" "btn-accent">Upload File</button>
  <% } %>
</header>
<% if(route === "home") { %>
<dialog class="dialog-folder">
  <div class="form-wrapper">
  <div class="header">
    <p>Create Folder</p>
    <button onclick="closeFolderDialog()" class="btn-danger close-dialog-btn">x</button>
  </div>
  <form action="/create-folder?profile=<%= profileId %>" method="POST">
    <input type="text" name="name">
    <button>Create</button>
  </form>
  </div>
</dialog>
<script>
  const dialogFolder = document.querySelector(".dialog-folder");
  function openFolderDialog() { 
    dialogFolder.showModal()
  }
  function closeFolderDialog() {
    dialogFolder.close()
  }
</script>
<% } else if(route === "folder") { %>
<dialog class="dialog-file">
  <div class="form-wrapper">
  <div class="header">
    <p>Upload File</p>
    <button onclick="closeFileDialog()" class="btn-danger close-dialog-btn">x</button>
  </div>
  <form action="/upload-file/<%= folderId %>" enctype="multipart/form-data" method="POST">
    <input type="file" name="file">
    <button>Upload</button>
  </form>
  </div>
</dialog>
<script>
  const dialogFile = document.querySelector(".dialog-file");
  function openFileDialog() { 
    dialogFile.showModal()
  }
  function closeFileDialog() {
    dialogFile.close()
  }
</script>
<% } %>
