<header class="header">
  <h1><%= title %></h1>
  <% if(route === "home") { %>
  <button onclick="openDialog()" class="btn-accent">Add Folder</button>
  <%} else if(route === "folder") {%> 
  <button class="btn-accent">Upload File</button>
  <% } %>
</header>
<% if(route === "home") { %>
<dialog>
  <div class="form-wrapper">
  <div class="header">
    <p>Create Folder</p>
    <button onclick="closeDialog()" class="btn-danger close-dialog-btn">x</button>
  </div>
  <form action="/create-folder?profile=<%= profileId %>" method="POST">
    <input type="text" name="name">
    <button>Create</button>
  </form>
  </div>
</dialog>
<script>
  const dialog = document.querySelector("dialog");
  function openDialog() { 
    dialog.showModal()
  }
  function closeDialog() {
    dialog.close()
  }
</script>
<% } %>
