<nav class='navigation'>
  <a href="/" class="btn btn">Home</a>
  <div class='user-profile'>
    <p><%= name %></p>
    <form action="/logout" method="POST">
      <button  class="btn-gray">Logout</button>
    </form>
  </div>
</nav>
