<% if(success){ %>
  <div class="notification" style="background-color: var(--clr-accent);">
    <p><%= success %></p>  
  </div>
<script>
  const cont = document.querySelector(".notification");
  setTimeout(() => {
    cont.style.opacity = 0
    setTimeout(()=> {
      cont.remove()
    }, 300)
  }, 3000)
</script>
<% } %>
