<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= props.title%></title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/form.css">
  <link rel='stylesheet' href="/notification.css">
  <link rel="stylesheet" href="/error-notif.css">
</head>
<body>
  <main>
      <div class="form-container">
        <form class="form" action="/login" method="POST">
          <h2 class="title">File It Up</h2>
          <div class="input-field">
            <label for="email">Email : <%- include("partials/error-notif", {message: props.errorMsg?.emailErrorMsg}) %></label>
            <input type="email" name="email" id="email" required autocomplete="email">
          </div>
          <div class="input-field">
            <label for="password">Password : <%- include("partials/error-notif", {message: props.errorMsg?.passwordErrorMsg}) %> </label>
            <input type="password" name="password" id="password" required autocomplete="current-password">
          </div>
          <button type="submit">Login</button>
          <a href="/register">Need an account</a>
        </form>
    </div>
  </main>
</body>
</html>
