.header {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/**  DIALOG */
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper form input {
  padding: 1rem;
}

.form-wrapper .header {
  display: flex;
  justify-content: space-between;
}
